{
  "presets": [
    "env", 
    "react", 
    "es2015", 
    "stage-3"
  ],
  "plugins": [
    "react-html-attrs",
    "transform-react-inline-elements", 
    "transform-decorators-legacy", 
    "transform-class-properties"
  ]
}